* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", cursive;
  background-color: rgb(238, 237, 237);
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 100px;
  background-color: #fff;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.default-footer {
  margin-top: 100px;
  background-color: #fff;
}
ul {
  padding-right: 4rem !important;
  margin-bottom: 2rem !important;
}
ul a {
  text-decoration: none;
}
.line {
  width: 60%;
  background-color: black;
  height: 1px;
}
.mobile-default-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-right-default {
  margin: 0 !important;
  text-align: center;
  margin-top: 3rem !important;
}

@media only screen and (max-width: 960px) {
  .default-submit-button {
    width: 300px !important;
  }
  .form-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
}
@media (min-width: 522px) and (max-width: 961px) {
  .default-col {
    width: 50%;
  }
  .o-1 {
    order: 1;
    margin-top: 2rem;
  }
  .o-2 {
    order: 2;
    margin-top: 2rem;
  }
  .o-3 {
    order: 3;
    margin-top: 2rem;
  }
  .o-4 {
    order: 4;
    margin-top: 2rem;
  }
  .o-5 {
    order: 5;
  }
  .o-6 {
    order: 6;
  }
}
@media only screen and (min-width: 961px) {
  .email-positin {
    margin-right: -22px;
  }
}
